/* Typography */

body,
button,
input,
select {
  font-family: system-ui;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label,
th,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka One";
}

/* Theme */

body {
  background-color: rgb(241, 218, 190);
}

a {
  color: #56a9ff;
  text-decoration: none;
}
